/*variables for colors and base styles */
:root {
  --primary-color: #5a3d88;
  --secondary-color: #e0bbe3;
  --background-color: #f3f3f3;
  --table-header-bg: #e6e6f7;
  --table-row-hover-bg: #f9e6ff;
  --text-color: #333333;
  --link-color: #5a3d88;
  --link-hover-color: #9b67d4;
  --table-border-color: #e0bbe3;
  --table-padding: 20px 15px;
  --font-family: 'Arial', sans-serif;
  --light: #f0f0f0;
  --light-grey: #ccc;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}
