/* not pretty css for now  */
/*variables for colors and base styles */
:root {
  --primary-color: #5a3d88;
  --secondary-color: #e0bbe3;
  --background-color: #f3f3f3;
  --table-header-bg: #e6e6f7;
  --table-row-hover-bg: #f9e6ff;
  --text-color: #333333;
  --link-color: #5a3d88;
  --link-hover-color: #9b67d4;
  --table-border-color: #e0bbe3;
  --table-padding: 10px 15px;
  --font-family: 'Arial', sans-serif;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}

/* For Table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

th,
td {
  border: 1px solid var(--table-border-color);
  padding: var(--table-padding);
  text-align: left;
  font-family: var(--font-family);
}

thead {
  background-color: var(--table-header-bg);
  color: var(--primary-color);
}

th {
  font-weight: bold;
}

/* Links */
a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.table-container {
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h1 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 24px;
}
