/* Navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--secondary-color);
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
}

.title {
  font-size: 1.2rem;
}

body {
  margin-top: 80px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  position: relative;
}

.a @media (max-width: 768px) {
  .navbar {
    background-color: var(--secondary-color);
    color: white;
  }
}
